# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/
data/processed/

# Models
*.pkl
*.joblib
models/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
